body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}
:root {
    --bg: #ffffff;
    --text: #000000;
}
body.dark {
    --bg: #1c1c1c;
    --text: #ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #2a7cf5;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
.hero {
    text-align: center;
    padding: 80px 20px;
}
.content {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar a {
        margin: 10px 0;
    }
 .body {
    background: url('vanoce.gif') no-repeat center center fixed;
    background-size: cover;
}

}
.logo {
    width: 200px; 
    max-width: 80%;
    display: block;
    margin: 20px auto;
}


}
