:root {
    --bg: #ffffff;
    --text: #000000;
}

body.dark {
    --bg: #1c1c1c;
    --text: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--bg);
    transition: 0.3s;


    background-image: url('vsb-bg1.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain; 
    background-attachment: scroll;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(42,124,245,0.8);
}

.navbar a, .navbar button {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.content {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.8); 
}

.xmas-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    height: 150px;
    object-fit: cover;
    z-index: 9999;
    pointer-events: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar a, .navbar button {
        margin: 5px 0;
    }
}
